@include define('button-bar-skin-promo') {
    %button-bar-skin-promo__button-bar {
        background: #e1e;
        border: 3px solid skyblue;
    }

    %button-bar-skin-promo__btn {
        background: #c90;
        border: 3px solid #333;
    }

    %button-bar-skin-promo__btn_hover {
        background: #a69;
        border-color: #7b9;
    }
}

@mixin button-bar-skin-promo($selector) {
    #{$selector} {
        @extend %button-bar-skin-promo__button-bar;
    }

    #{$selector}__btn {
        @extend %button-bar-skin-promo__btn;

        &:hover {
            @extend %button-bar-skin-promo__btn_hover;
        }
    }
}