@import '../../base/utils/__utils';
@import '../../base/project/__project';


//usage examples:
//@include example();
//@include example('.example2');
//@include example('.example3', 'myHoverClass');
//@include example('.example4', $param2: 'someParam', $hover: 'myHover');
//
//@include example('.example5', $defaultSkin: false);
//@include example-skin-alt('.example5');

// _____ STRUCTURE _____ //

@include define("button-bar") {
    @include _add(button-bar) {
        padding: 20px;
    }

    @include _add(button-bar__btn) {
        float: right;
    }

    @include _add(button-bar--hover) {
        padding: 5px;
    }
}

@mixin button-bar($selector: ".button-bar", $hover: ':hover', $param: "", $defaultSkin: true) {
    #{$selector} {
        @extend %button-bar;
    }

    #{$selector}__btn {
        @extend %button-bar__btn;
    }

    @if $hover == ':hover' {
        #{$selector}:hover {
            @extend %button-bar--hover;
        }
    } @else {
        #{$selector}_#{$hover} {
            @extend %button-bar--hover;
        }
    }

    @if $defaultSkin != false {
        @include button-bar-skin-default($selector);
    }
}


// _____ SKIN _____ //

@import '../../base/project/_variables';
@import '../../base/project/_helpers';

@include define('button-bar-skin-default') {
    %button-bar-skin-default__button-bar {
        background: #d24;
        border: 2px solid #666;
    }

    %button-bar-skin-default__button-bar--hover {
        background: blue;
        border: 2px solid red;
    }

    %button-bar-skin-default__btn {
        background: #3d0;
        border: 3px solid #ddd;
    }

    %button-bar-skin-default__btn--hover {
        background: #d6a;
        border-color: #fff;
    }
}

@mixin button-bar-skin-default($selector, $hover: ":hover", $param: "") {
    #{$selector} {
        @extend %button-bar-skin-default__button-bar;
    }

    @if $hover == ':hover' {
        #{$selector}:hover {
            @extend %button-bar-skin-default__button-bar--hover;
        }
    } @else {
        #{$selector}_#{$hover} {
            @extend %button-bar-skin-default__button-bar--hover;
        }
    }

    #{$selector}__btn {
        @extend %button-bar-skin-default__btn;

        &:hover {
            @extend %button-bar-skin-default__btn--hover;
        }
    }
}