form {

}

::-webkit-input-placeholder {
   color: $placeholder-col;
}

:-moz-placeholder {
   color: $placeholder-col;
}

::-moz-placeholder {
   color: $placeholder-col;
}

:-ms-input-placeholder {
   color: $placeholder-col;
}