::-webkit-input-placeholder {
   color: $placeholder-col;
}

:-moz-placeholder {
   color: $placeholder-col;
}

::-moz-placeholder {
   color: $placeholder-col;
}

:-ms-input-placeholder {
   color: $placeholder-col;
}
<% if (docssa) { %>

// Custom checkbox/radio
*[type="checkbox"] {
    @include _use(customCheck);
    @include _use(customCheckSkin);
}

*[type="radio"] {
    @include _use(customRadio);
    @include _use(customRadioSkin);
}<% } %>


// Custom select
.customSelect {
// This is the default class that is used
}

.customSelect.customSelectHover {
// Styles for when the select box is hovered
}

.customSelect.customSelectOpen {
// Styles for when the select box is open
}

.customSelect.customSelectFocus {
// Styles for when the select box is in focus
}

.customSelect.customSelectDisabledOption {
// Styles for when the selected item is a disabled one
}

.customSelect.customSelectDisabled {
// Styles for when the select box itself is disabled
}

.customSelectInner {
// You can style the inner box too
}