*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    font-family: font-family();

    ::selection {
        @if $col-scheme == dark {
            color: #fff;
        } @else {
            color: #000;
        }
        background: $highlight-col;
    }

    ::-moz-selection {
        @if $col-scheme == dark {
            color: #fff;
        } @else {
            color: #000;
        }
        background: $highlight-col;
    }
}