@include define('universal-helpers') {

    // Image replacement
    @include _add(ir) {
        overflow: hidden;
        // IE 6/7 fallback
        *text-indent: -9999px;
        background-color: transparent;
        border: 0;
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 100%;
        }
    }


    // Hide from both screenreaders and browsers: h5bp.com/u
    @include _add(hidden) {
        display: none !important;
        visibility: hidden;
    }


    // Hide only visually, but have it available for screenreaders: h5bp.com/v
    @include _add(visuallyhidden) {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        //
        // Extends the .visuallyhidden class to allow the element to be focusable
        // when navigated to via the keyboard: h5bp.com/p
        //
        &.focusable:active,
        &.focusable:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }

    // Hide visually and from screenreaders, but maintain layout
    @include _add(invisible) {
        visibility: hidden;
    }

    // Contain floats: h5bp.com/q
    @include _add(clearfix) {
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        *zoom: 1;
    }

    // Needed for verticalAlign
    @include _add(inlineBlock) {
        display: inline-block;
        .lt-ie8 & {
            display: inline;
        }
    }

    @include _add(verticalAlign) {
        &:before {
            @include _use(inlineBlock);
            vertical-align: middle;
            content: "";
            height: 100%;
            width: 0;
            margin: 0;
        }
        @include _use(inlineBlock);
        vertical-align: middle;
    }

    @include _add(verticalAlign2) {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @include _add(nonSelectable) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @include _add(customCheckRadio) {
        // <input type="checbox/radio"><label>abc</label>
        position: absolute;
        top: 0;
        left: 0;
        @include opacity(0);
        width: 0;
        height: 0;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        + label {
            position: relative;
            padding-left: 30px;
            text-align: center;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
    }

    @include _add(customCheck) {
        @include _use(customCheckRadio);
    }

    @include _add(customRadio) {
        @include _use(customCheckRadio);
    }
}