.main-page {
    @include container;

    min-height: 100%;
    margin-bottom: -$footer-h;

    position: relative;
    right: 0;
    background: #fff;
    @include transition(all $nav-trans-dur);
    @include transition-timing-function($nav-trans-ease);

    &:after {
        content: "";
        display: block;
        height: $footer-h;
    }
}

.nav-open .main-page {
    right: $offcanvas-nav-w;
}