{#svg}$sprite--{name}: ({relWidth}*10)+px, ({relHeight}*10)+px, ({relPositionX}*10)+px, ({relPositionY}*10)+px;
{/svg}
{#common}
@mixin sprite-svg($sprite) {
    width: nth($sprite,1);
    height: nth($sprite,2);
    background-position: nth($sprite,3) nth($sprite,4);
    background-image: url(#{~lb}$img-dir{~rb}/sprite.svg);
    background-repeat: no-repeat;

    .no-svg & {
        background-image: url(#{~lb}$img-dir{~rb}/sprite.png);
    }
}{/common}